<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <div class="login-pic js-tilt" data-tilt>
        <img src="../../assets/login/images/img-01.png" alt="CERMIX">
      </div>

      <form class="login-form" (ngSubmit)="onSubmit(formulaire)"  #formulaire="ngForm">
					<span class="login-form-title">
						Utilisateur
					</span>
        <!--===============================================================================================-->
        <div class="wrap-input validate-input" data-validate="Valid email is required: utilisateur@cermix.fr">
          <label>
            <input class="input-login" type="text" name="email" placeholder="Email" ngModel required>
          </label>
          <span class="focus-input"></span>
          <span class="symbol-input">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
        </div>
        <!--===============================================================================================-->
        <div class="wrap-input validate-input" data-validate="Password is required">
          <label>
            <input class="input-login" type="password" name="pass" placeholder="Password" ngModel required>
          </label>
          <span class="focus-input"></span>
          <span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>
        <!--===============================================================================================-->
        <div class="container-login-form-btn">
          <button class="login-form-btn" type="submit">
            Se connecter
          </button>
        </div>
        <!--===============================================================================================-->

        <!--===============================================================================================-->
        <div class="text-center p-t-12">
						<span class="txt1">
							Vous avez oublié votre :
						</span>
          <a class="txt2" href="#">
            Login / mot de pass?
          </a>
        </div>
        <!--===============================================================================================-->
      </form>
      <button class="login-form-btn" (click)="subToNotif()">
        subscribe
      </button>
    </div>
  </div>
</div>
