
<nav class="navbar navbar-expand bg-success fixed-top" id="mainNav">
  <img class="navbar-brand js-scroll-trigger" width="100px" height="100px" src="../../assets/images/logo-cermix.png" alt="">
  <h5 class="text-uppercase text-light js-scroll-trigger">CERMIX Mobility Interface des notifications</h5>
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <button class=" btn btn-info nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="retour()" > Retour </button>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <button class=" btn btn-warning nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="logout()" >Déconnexion</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" style="margin-top: 150px">
  <div class="row row-cols-1 row-cols-md-3" id="all-notifications" >
    <div class="col mb-4" *ngFor="let el of listnotif" (click)="onchangeState(el.men_idnotification); el.etatread=true" style="cursor: pointer;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" [ngClass]="{'text-danger': !el.etatread, 'text-success': el.etatread}">{{ el.mno_titre }}</h5>
          <p class="card-text">{{ el.mno_description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-success" style="margin-top: 100px" role="alert" *ngIf="listnotif.length == 0">
    <h4 class="alert-heading">Vous avez aucune notifications non lues !</h4>
  </div>
</div>
