<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/login-icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <label for="login"></label>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="login">
      <label for="password"></label>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
      <button class="btn btn-success fadeIn fourth col-7" style="margin-bottom: 5px" type="submit">Log In</button>
    </form>

  </div>
</div>
